html, body {
    height: 100%;
    font-size: 1.6rem;
  }
  
  .fs-2{
    font-size: 2rem;
    font-weight: bold;
    color: aliceblue;
  }

  .button{
    height: 50px;
    border-radius: 20px;
  }

  .error{
    border-color: red;
  }
  
  .navbar{
    color: white !important;
    background-color: #1a5444;
    height: 10vh;
  }
  
  .navbar-custom{
    background-color: #2ed5a6;
    height: 90vh;
  
  }
  
  
  
  
  
  