html, body {
    height: 100%;
  }
  
  .error{
    border-color: red;
  }
  .navbar{
    color: white !important;
    background-color: #1a5444;
    height: 10vh;
  }
  
  .navbar-custom{
    background-color: #2ed5a6;
    height: 90vh;
  
  }
  
  
  
  
  
  