<!DOCTYPE html>
<html ng-app="application">
<head>
    <meta charset="utf-8">

</head>
<body>
    <div>
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="fs-2  float-left ">Asset Management</div>
        </nav>
    </div>
    <div class="container-fluid px-0">
        <div class="row align-self-center">
            <div class="col-lg-2 navbar-custom fs-2">
                <div class="mx-2 mt-2" (click)="onClickNew()">News</div>
                <div class="mx-2 mt-2" (click)="onClickSearch()">Search</div>
            </div>
            <div class="col-lg-10">
                <div class="row justify-content-center">   
                    <div class="col-12">
                        
                        <form (ngSubmit)="ngSubmit(registrationForm)" #registrationForm="ngForm" >
                                <div class="row mt-4">
                                    <div class="col-2">
                                        <div class="fs-1  float-right">Brand</div>
                                    </div>
                                    <div class="col-3">
                                    <select type="text" class="form-control p-2" name = "brand" [(ngModel)] = registerData.brand>
                                        <option value="ASUS">ASUS</option>
                                        <option value="HP">HP</option>
                                        <option value="Dell">Dell</option>
                                        <option value="Accer">Accer</option>
                                    </select>   
                                    </div>     
                                
                                    <div class="fs-1  float-right">Model</div>
                                    <div class="col-3 mt-1">
                                        <input type="text" class="form-control p-2"   name = "model" [(ngModel)] = registerData.model>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-2">
                                        <div class="fs-1  float-right">Serial</div>
                                    </div>
                                    <div class="col-3 ">
                                    <input type="text" class="form-control p-2" name = "serial" [(ngModel)] = registerData.serial>
     
                                    </div>     
                                
                                    <div class="fs-1  float-right">Status</div>
                                    <div class="col-3 mt-1">
                                        <select type="text" class="form-control p-2"   name = "status" [(ngModel)] = registerData.status>
                                            <option value="Active">Active</option>
                                            <option value="Inactive">Inactive</option>
                                        </select>    
                                        </div>
                                </div>


                            <div class="row col-12 mt-5 justify-content-center">
                                <button type="submit" class="button btn-primary col-4 mx-3">Search</button>
                                <button (click)="onClickReset(registrationForm)" class="button btn-dark col-4 mx-3">cancle</button>
                            </div>

                        </form>
                    </div>
                    
                    <div class="row col-12 text-center mt-5 mx-2 ">
                        <div class="col-2">Asset Code</div>
                        <div class="col-1">Brand</div>
                        <div class="col-1">Model</div>
                        <div class="col-2">Serial No</div>
                        <div class="col-1">Status</div>
                        <div class="col-1">Warranty Remains</div>
                        <div class="col-2"></div>
                    </div>

                        
                    <li class="row col-12 text-center align-content-between mt-2" *ngFor="let notebook of notebooks">
                        <div class="col-2">{{notebook.asset_code}}</div>
                        <div class="col-1">{{notebook.brand}}</div>
                        <div class="col-1">{{notebook.model}}</div>
                        <div class="col-2">{{notebook.serial}}</div>
                        <div class="col-1">{{notebook.status}}</div>
                        <div class="col-1">{{notebook.warranty}}</div>

                        <button (click)="onClickEdit(notebook)" class="sm-btn col-1 btn-primary">edit</button>
                        <button (click)="onClickDelete(notebook.asset_code)" class="sm-btn col-1 btn-danger mx-1">delete</button>

                    </li>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

</body>
</html>